.feed-card {
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
} 
  
  .user-header-image {
    background-image: url('../../../assets/user.png');
    background-size: cover;
  }

  :host ::ng-deep .mat-card-header .mat-card-title {
      margin-bottom: 0;
  }


  .fill {
    flex: 1;
  }

  mat-icon {
      cursor: pointer;
  }