<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card class="feed-card" *ngFor="let assignment of assignments; let i=index;">
                <mat-card-header>
                    <div mat-card-avatar class="user-header-image"></div>
                    <mat-card-title>{{companies[i].name}}</mat-card-title>
                    <mat-card-subtitle>{{assignment.location}}</mat-card-subtitle>
                    <div class="fill"></div>
                    <mat-icon (click)="apply(assignment.id)" matTooltip="Apply">add_box</mat-icon>
                </mat-card-header>
                <mat-chip-list>
                    <mat-chip *ngFor="let topic of assignment.topics;"
                        [ngStyle]=" {'background-color': topic.color, 'color' :'#fff'}">
                        {{topic.name}}
                    </mat-chip>
                </mat-chip-list>
                <br>
                <mat-card-content>
                    <p>
                        {{assignment.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon class="like">favorite_border</mat-icon>
                        <span class="likes">{{likeCount}}</span>
                    </button>
                    <button mat-button>
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
