.feed-card {
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
} 
  
  .user-header-image {
    background-image: url('../../../assets/user.png');
    background-size: cover;
  }

  :host ::ng-deep .mat-card-header .mat-card-title {
      margin-bottom: 0;
  }


  .like {
      color: red;
  }

  .likes {
      font-weight: bold;
      vertical-align: middle;
      margin-left: 5px;
  }

  .fill {
    flex: 1;
  }