<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="title">
                <mat-icon (click)="goBack()">keyboard_return</mat-icon>
                <h4>Edit Assignment</h4>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="editAssignmentForm">
        <form [formGroup]="editAssignmentForm" (ngSubmit)="onSubmitEditAssignment()">
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" name="Title" formControlName="Title" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date:</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="startpicker" placeholder="Choose a date"
                            formControlName="StartTime">
                        <mat-datepicker-toggle matSuffix [for]="startpicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #startpicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date:</mat-label>
                        <input matInput [max]="maxDate" [matDatepicker]="endpicker" placeholder="Choose a date"
                            formControlName="EndTime">
                        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                        <mat-datepicker #endpicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input matInput placeholder="Location" type="text" name="Location" formControlName="Location">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Compensation</mat-label>
                        <input matInput placeholder="Compensation" type="number" name="Compensation"
                            formControlName="Compensation">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-slide-toggle color="primary" (change)="onChangeInternship()"
                        [checked]="assignment.isInternship">
                        Internship
                    </mat-slide-toggle>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <mat-chip-list #topicList>
                        <mat-chip *ngFor="let topic of assignmentTopics" [selectable]="selectable"
                            [removable]="removable" (removed)="removeTopic(topic)"
                            [ngStyle]="{'background-color': topic.color, 'color':'#fff'}">
                            {{topic.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Topics..." [matChipInputFor]="topicList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addTopic($event)">
                    </mat-chip-list>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput name="Description" placeholder="Description" formControlName="Description"
                            cols="30" rows="8"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button mat-flat-button color="primary" type="submit">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>