<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="title">
                <mat-icon (click)="goBack()">keyboard_return</mat-icon>
                <h4>Applies</h4>
            </div>
            <button mat-flat-button id="cancel" (click)="cancel(applications[0].assignmentID)" *ngIf="closed">
                Cancel
            </button>
        </div>
    </div>
    <br>
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let application of applications; let i=index;">
                <a [routerLink]="['/account/', applicants[i].accountID]">{{applicants[i].nickname}}</a>
                <div class="fill"></div>
                <button mat-flat-button id="verwijder" (click)="choose(application.applicationID)" *ngIf="closed"
                    class="choose">
                    Choose!
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>