<div class="container">
  <mat-card>
    <h1>Log in</h1>
    <form name="loginForm" #f="ngForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input name="email" #email="ngModel" [(ngModel)]="model.email" matInput placeholder="Email">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label for="password">Password</mat-label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" matInput
          placeholder="Password">
      </mat-form-field><br>
      <button color="primary" mat-flat-button>Login</button>
      <p>Need an account? <a routerLink="/register">Register</a></p>
    </form>
  </mat-card>
</div>