<div class="container">
    <mat-card>
        <h1>Review</h1>
        <form name="reviewForm" #f="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label for="reviewText">Review</mat-label>
                <textarea type="text" name="reviewText" #reviewText="ngModel" [(ngModel)]="model.reviewText" matInput
                    placeholder="Review"></textarea>
            </mat-form-field><br>
            <div>
                <p>Commendations:</p>
                <mat-selection-list #commendations>
                    <mat-list-option *ngFor="let commendation of applicantCommendations"
                        [value]="commendation.imageName" [selected]="isChecked(commendation)" color="primary">
                        {{commendation.displayName}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <button color="primary" mat-flat-button>Submit</button>
        </form>
    </mat-card>
</div>