<div class="bg-landing">
</div>
<div class="container landingform">
  <div class="row">
    <div class="col-12 text-center">
      <img src="../../../assets/full-logo.png" class="img-fluid">
    </div>
  </div>
  <mat-card>
    <div class="row">
      <div class="col-12 title">
        <mat-icon (click)="goBack()">keyboard_return</mat-icon>
        <h1>Register</h1>
      </div>
    </div>
        <form name=" registerForm" #f="ngForm" (ngSubmit)="f.valid && onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label for="username">Username</mat-label>
            <input name="username" #username="ngModel" [(ngModel)]="model.username" type="text" required matInput
              placeholder="Username">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="password">Password</mat-label>
            <input name="password" #password="ngModel" [(ngModel)]="model.password" type="password" matInput
              placeholder="Password" minlength="8" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="verifypassword">Verify password</mat-label>
            <input type="password" name="verifypassword" matInput placeholder="Verify password" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input [(ngModel)]="model.email" name="email" type="email" matInput placeholder="Email" required email>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="dateofbirth">Date of birth</mat-label>
            <input matInput name="dateofbirth" [(ngModel)]="model.dateOfBirth" [matDatepicker]="picker"
              placeholder="Choose a date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month"></mat-datepicker>
          </mat-form-field>
          <mat-radio-group color="primary" aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="selectedOption"
            (change)="onChange($event)" required>
            <mat-radio-button class="radio-button" [value]="true" check>Applicant</mat-radio-button>
            <mat-radio-button class="radio-button" [value]="false">Company</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="selectedOption">
            <mat-checkbox color="primary" name="available" #available="ngModel" [(ngModel)]="applicant.available">Available</mat-checkbox>
            <mat-form-field appearance="outline">
              <mat-label>Biography</mat-label>
              <textarea matInput name="Biography" placeholder="Biography" [(ngModel)]="applicant.biography" cols="30"
                rows="8" required></textarea>
            </mat-form-field>
            <mat-form-field>
              <mat-chip-list #skillList>
                <mat-chip *ngFor="let skill of skillAccount" [selectable]="selectable" [removable]="removable"
                  (removed)="removeSkill(skill)" [ngStyle]="{'background-color': skill.color, 'color':'#fff'}">
                  {{skill.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Skills..." [matChipInputFor]="skillList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addSkill($event)">
              </mat-chip-list>
            </mat-form-field>
            </div>
            <div *ngIf="selectedOption==false">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" type="text" name="Name" [(ngModel)]="company.name" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input matInput placeholder="PhoneNumber" type="tel" name="PhoneNumber"
                  [(ngModel)]="company.contactPhoneNumber" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="text" name="Email" [(ngModel)]="company.contactEmail"
                  required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Biography</mat-label>
                <textarea matInput name="Biography" placeholder="Biography" [(ngModel)]="company.biography" cols="30"
                  rows="8" required></textarea>
              </mat-form-field>
            </div>
            <button color="primary" mat-flat-button>Register</button>
            <p>Already an account? <a routerLink="/login">Login</a></p>
        </form>
  </mat-card>
</div>