html, body {
    height: 100%;
    overflow: auto;
}

mat-form-field{
    width: 100%;
    font-size: 13px;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: #377Dc0;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
.radio-button {
    margin: 5px;
  }
mat-card{
    max-width: 600px;
    height: 100%;
    margin: auto;
}

button{
    width: 100%;
}

.bg-landing {
    background: url("../../../assets/business.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    filter: blur(4px);
}

.landingform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (min-width: 1140px){
    mat-card {
        margin-top: 150px;
    }    
}

@media only screen and (max-width: 1140px){
    mat-card {
        margin-top: 250px;
    }    
}

@media only screen and (max-width: 900px){
    mat-card {
        margin-top: 600px;
    }       
}

@media only screen and (max-width: 450px){
    mat-card {
        margin-top: 300px;
    }       
}

// @media only screen and (max-width: 450px){
//     mat-card {
//         margin-top: 0px;
//     }    

// }

mat-icon {
    cursor: pointer;
}

