<div class="container-fluid">
    <div class="col-12 board">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <mat-card class="list">
                <mat-card-header class="listHeader">
                    <mat-card-title class="listTitle">Draft</mat-card-title>
                </mat-card-header>
                <mat-card-content class="listItems">
                    <mat-card class="listItem" *ngFor="let draft of draftAssignments" mat-ripple>
                        <mat-card-header>
                            <mat-card-title matTooltip="Edit Assignment" matTooltipPosition="above" [routerLink]="['/edit-assignment/', draft.id]">
                                {{draft.title}}
                            </mat-card-title>
                            <mat-card-subtitle *ngIf="draft.topics.length > 0">
                                {{draft.topics[0].name}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <div class="buttons">
                            <button mat-flat-button id="verwijder" (click)="delete(draft.id)"
                                matTooltip="Delete Assignment" matTooltipPosition="above">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-flat-button class="next" (click)="publish(draft)"
                                matTooltip="Publish Assignment" matTooltipPosition="above">
                                <mat-icon>publish</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <mat-card class="list">
                <mat-card-header>
                    <mat-card-title class="listTitle">Open</mat-card-title>
                </mat-card-header>
                <mat-card-content class="listItems">
                    <mat-card class="listItem" *ngFor="let open of openAssignments" mat-ripple>
                        <mat-card-header>
                            <mat-card-title (click)="seeListOfApplicants(open.id, false)" matTooltip="See applicants" matTooltipPosition="above">
                                {{open.title}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{open.topics[0].name}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <div class="buttons">
                            <button mat-flat-button class="back" (click)="toDraft(open)"
                                matTooltip="Put Assignment Back in Draft" matTooltipPosition="above">
                                <mat-icon>backspace</mat-icon>
                            </button>
                            <button mat-flat-button id="close" (click)="close(open)"
                                matTooltip="Close Assignment" matTooltipPosition="above">
                                <mat-icon>not_interested</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <mat-card class="list">
                <mat-card-header>
                    <mat-card-title class="listTitle">Closed</mat-card-title>
                </mat-card-header>
                <mat-card-content class="listItems">
                    <mat-card class="listItem" *ngFor="let closed of closedAssignments" mat-ripple>
                        <mat-card-header>
                            <mat-card-title (click)="seeListOfApplicants(closed.id, true)" matTooltip="See applicants" matTooltipPosition="above">
                                {{closed.title}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{closed.topics[0].name}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <div class="buttons">
                            <button mat-flat-button class="back" (click)="toOpen(closed)"
                                *ngIf="closed.applicationId == null" matTooltip="Put Assignment Back in Open"
                                matTooltipPosition="above">
                                <mat-icon>backspace</mat-icon>
                            </button>
                            <button mat-flat-button class="next" (click)="finish(closed)"
                                *ngIf="closed.applicationId != null" matTooltip="Finish Assignment"
                                matTooltipPosition="above">
                                <mat-icon>check</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <mat-card class="list">
                <mat-card-header>
                    <mat-card-title class="listTitle">Finished</mat-card-title>
                </mat-card-header>
                <mat-card-content class="listItems">
                    <mat-card class="listItem" *ngFor="let finished of finishedAssignments" mat-ripple>
                        <mat-card-header>
                            <mat-card-title>
                                {{finished.title}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{finished.topics[0].name}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <div class="buttons">
                            <button mat-flat-button id="close">
                                Review
                            </button>
                        </div>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
