  .sidenav {
    padding: 20px;
    width: 250px;
    background-color: #e7ecee;
    text-align: center;
  }

mat-icon {
    cursor: pointer;
    color: #fff;
    position: relative;
    top: -6px;
}

.content {
    height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -50%;
  transform: translateX(50%);
  min-width: 30%;
}

.header mat-icon {
  color: #000;
  font-size: 24px;
  position: relative;
  top: 3px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  nav {
      position: fixed;
      width: 100%;
      height: 70px;
      z-index: 5;
  }

  mat-form-field {
      font-size: 12px;
      position: relative;
      width: 100%;
      color: #000;
      margin-left: 5px;
  }

 :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    color: #8799a3;
    border-radius: 5px;
  }

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #8799a3;
  }

  
.spacer
{
    width: 100%;
    height: 80px;
}

#logout {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  color: #000;
}

img {
 margin-top: 2px;
}

@media only screen and (max-width: 450px){
  img {
     display: none;;
  }    

}