<body>
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="sidenav" mode="push">
      <app-nav-menu></app-nav-menu>
      <mat-icon id="logout" (click)="logout()">logout</mat-icon>
    </mat-drawer>
    <div class="content">
      <nav class="navbar navbar-light border-bottom box-shadow mb-3 background-color-primary" *ngIf="isLoggedIn">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="search" (ngModelChange)="onChangeSearch($event)" placeholder="Search...">
        </mat-form-field>
      </nav>
      <div class="spacer" *ngIf="isLoggedIn"></div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</body>