<body>
  <mat-drawer-container>
    <mat-drawer #drawer class="sidenav" mode="side">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
    <div class="content">
      <nav class="navbar navbar-light border-bottom box-shadow mb-3 background-color-primary">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search...">
        </mat-form-field>
      </nav>
      <div class="spacer"></div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</body>