<body>
  <mat-drawer-container>
    <mat-drawer #drawer class="sidenav" mode="side">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
    <div class="content">
      <nav class="navbar navbar-light border-bottom box-shadow mb-3 background-color-primary">
        <div class="container-fluid">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Search...">
          </mat-form-field>
          <!-- <a [routerLink]="['/']">
            <h4>Application Challenge</h4>
          </a> -->
        </div>
      </nav>
      <div class="spacer"></div>
      <div class="container">
      <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</body>