img {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.imageCol mat-form-field {
    margin: auto;
}

mat-form-field {
    width: 100%;
}
  
button {
      width: 100%;
      margin-bottom: 20px;
}

mat-icon {
    cursor: pointer;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #377DC0;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h4 {
    margin-left: 15px;
}

:host ::ng-deep .mat-tab-labels{
    justify-content: center; 
}

:host ::ng-deep .mat-tab-header {
    border-bottom: none;
}

@media only screen and (max-width: 1000px){
    img {
        width: 40% !important;
    }
}

