<div class="container-fluid">
    <div class="banner">
        <button mat-fab id="verwijder" (click)="openDialog()">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-fab color="primary" type="button" [routerLink]="['/edit-company/', 1]" routerLink="active">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div id="profilePic">
        <img src=".././../../assets/user.png">
        <span>
            <h2>Microsoft</h2>
        </span>
    </div>
    <div>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Info">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>Biography</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>
                                        Biografie: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
                                        alias
                                        itaque voluptatem nisi! Maiores ab asperiores voluptate? Exercitationem officia
                                        est
                                        error iure, natus at pariatur. Incidunt iusto magnam magni blanditiis.
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Reviews">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <mat-card class="review-card">
                                <mat-card-header>
                                    <!-- <div id="commodations">
                                        <img src="../../../assets/takesinitiative.png" matTooltip="Takes initiative"
                                            matTooltipPosition="above">
                                        <img src="../../../assets/highquality.png" matTooltip="High quality"
                                            matTooltipPosition="above">
                                        <img src="../../../assets/hardworker.png" matTooltip="Hard worker"
                                            matTooltipPosition="above">
                                    </div> -->
                                    <mat-card-title><a href="">Assignment Name</a></mat-card-title>
                                    <mat-card-subtitle><a href="">Username</a></mat-card-subtitle>
                                    <div class="fill"></div>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>
                                        Review text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Eaque repudiandae
                                        corporis ducimus id iusto laborum aliquid odit eos quam temporibus commodi, cum
                                        voluptatum mollitia
                                        ipsum accusamus nihil molestiae deserunt consequatur?
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Contact">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <mat-card>
                                <p>Email: emailadres</p>
                                <p>Phone number: number</p>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>