<div>
  <img src="../../assets/user.png" width="120px" height="120px" />
  <h4> Nerissa </h4>
</div>
<br>
<div class="divider"> <span class="span"></span>
  <button mat-button routerLink="/" routerLinkActive="active" class="menu-item">
    <mat-icon>library_books</mat-icon>
    <span>Feed</span>
  </button>
  <button mat-button routerLink="/account/me" routerLinkActive="active" class="menu-item">
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-button routerLink="/assignments/1" routerLinkActive="active" class="menu-item">
    <mat-icon>assignment</mat-icon>
    <span>Assignments</span>
  </button>
  <button mat-button routerLink="" routerLinkActive="active" class="menu-item">
    <mat-icon>archive</mat-icon>
    <span>Saved</span>
  </button>
  <mat-slide-toggle color="primary" [checked]="adminMode" (change)="onChangeMode()" class="menu-item">
    Admin Mode
  </mat-slide-toggle>

