.divider {
  border-bottom: 1px solid #FFF;
  height: 3px;
}

.span {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #377DC0;
}

.menu-item {
  width: 100%;
  text-align: left;
  height: 50px;
  font-size: 15px;
  margin-top: 10px;
}

.menu-item span, mat-slide-toggle {
  margin-left: 10px;
}

.menu-item:focus:active {
  outline: none;
}

:host ::ng-deep .mat-button-focus-overlay {
  background-color: transparent!important;
}

mat-slide-toggle {
  width: 95% !important;
}
